<h1>Twit Roster <i>by <a href="http://terralien.com">Terralien</a></i></h1>

<p>Enter the twitter handles of your crew, and we'll give you some embed code for your site:</p>

<form action="/embed" method="POST">
  <fieldset id="users">
    <div style="display:none" id="user_input_prototype">
      <%= erb :user_input, :locals => {:user => User.new}, :layout => false %>
    </div>
    <% @users.each do |user| %>
      <div>
        <%= erb :user_input, :locals => {:user => user}, :layout => false %>
      </div>
    <% end %>
  </fieldset>
  <fieldset>
    <button id="more_users" style="display:none">Add More Users</button><br />
    <input type="submit" value="Rosterize!" />
  </fieldset>
</form>

<p>Advanced: You can add an "extra" section for things that aren't in Twitter, like a person's title, by just putting the extra stuff in brackets after their username like so:</p>

<form>
  <fieldset>
    <input type="text" name="example" disabled="disabled" value="terralien[The Business Builders]" />
  </fieldset>
</form>

<p>By:</p>

<div id="twitroster"></div>
<script type="text/javascript" src="/js?u=terralien&u=ntalbott&u=misterpowell"></script>