<html>
  <head>
    <title>Twit Roster</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" media="all" />

    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" href="/stylesheets/ie6.css" media="all" />
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
    <script src="/javascripts/jquery.default-input.js"></script>
    <script type="text/javascript">
      jQuery(function($) {
        $('#more_users').show().click(function() {
          for(i=0; i<5; i++) {
            $('#user_input_prototype').clone(true).appendTo('#users').show();
          }
          $('#users input.text').defaultInput();
          return false;
        });
        $('textarea.copyable').click(function(){this.select();});
        $('#users input.text').defaultInput();
      });
    </script>
  </head>
  <body>
    <div id="page_container">
      <div id="header">
        <h1 id="logo"><a href="/" class="home">Twit Roster</a> <em>by <a href="http://terralien.com" class="terralien">Terralien</a></em></h1>
      </div>
      <div id="container">
        <%= yield %>
      </div>
    </div>
    <div id="footer">&nbsp;</div>
  </body>
</html>
