<html>
  <head>
    <title>Twit Roster</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
    <script type="text/javascript">
      jQuery(function($) {
        $('#more_users').show().click(function() {
          for(i=0; i<5; i++) {
            $('#user_input_prototype').clone().show().appendTo('#users');
          }
          return false;
        });
        $('textarea.copyable').
          click(function(){this.select();});
      });
    </script>
  </head>
  <body>
    <%= yield %>
    <p><strong>Need someone to collaborate with on the software for your new or growing business?</strong> Terralien comes alongside business owners and helps them design and develop profitable software. <a href="http://terralien.com/">We'd love to talk about the business you're building!</a></p>
  </body>
</html>