<html>
  <head>
    <title>Twit Roster</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/typography.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" media="all" />
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
    <script type="text/javascript">
      jQuery(function($) {
        $('#more_users').show().click(function() {
          for(i=0; i<5; i++) {
            $('#user_input_prototype').clone().appendTo('#users').show();
          }
          return false;
        });
        $('textarea.copyable').
          click(function(){this.select();});
      });
    </script>
  </head>
  <body>
    <div id="page_container">
      <div id="header">
        <h1 id="logo">Twit Roster <em>by <a href="http://terralien.com">Terralien</a></em></h1>
      </div>
      <div id="container">
        <%= yield %>
        <p class="call_terralien"><strong>Need someone to collaborate with on the software for your new or growing business?</strong> Terralien works alongside business owners and helps them design and develop profitable software. <a href="http://terralien.com/">We'd love to talk about the business you're building!</a></p>
      </div>
    </div>
    <div id="footer">&nbsp;</div>
  </body>
</html>